<div class="chat-img-div col-xs-4 col-md-6 col-lg-4" data-user-id="{{created_by}}" data-conversation-id="{{id}}" data-pusher-channel-name="{{name}}">
	<img src="{{photo}}" />
	<div class="user-name-div">
		<span>{{first_name}}</span>
	</div>
</div>