<div class="col-xs-4 col-md-3">
    <div class="img-div people-you-like-user-div">
      {{#if activity_restriction}}
	      {{#if is_premium_user}}
              <img class="profile-picture" src="{{photo}}" />
      	  {{else}}
      	      {{#if IS_BETA_SITE}}
      	          <a href="http://person.com/billing.payment_price.phtml?method=credit_card&buy=premium" target="_blank"><!-- old_person_link -->
      	          	  <img class="profile-picture" src="{{photo}}" />
      	          </a>
      	      {{else}}
				  <a href="#" class="prevent-default" data-toggle="modal" data-target="#become-a-vip-onboarding" data-credit-name="premium"
								data-purchase-package-title="{{#if is_premium_user}}You are a VIP{{else}}Become a VIP!{{/if}}"
								data-purchase-package-sub-title="{{#if is_premium_user}}Enjoy all that Person.com has to offer!{{else}}Make the most of Person.com{{/if}}"
								data-btn-purchase-package-text="PURCHASE MEMBERSHIP">
		     		  <img class="profile-picture" src="{{photo}}" />
		          </a>
	          {{/if}}
      	  {{/if}}
      {{else}}
          <img class="profile-picture" src="{{photo}}" />
      {{/if}}
      <div class="name-div">
        <i class="online-icon"></i>
        {{#if age}}
        	{{#if activity_restriction}}
	           {{#if is_premium_user}}
	              <span id="first-name-age">{{first_name}}, {{age}}</span>
	           {{else}}
	              <span id="first-name-age">{{first_name}}</span>
	           {{/if}}
	        {{else}}
	        	<span id="first-name-age">{{first_name}}, {{age}}</span>
	        {{/if}}
        {{else}}
           <span id="first-name-age">{{first_name}}</span>
        {{/if}}
      </div>
      {{#if activity_restriction}}
	      {{#if is_premium_user}}
	         <div class="distance-div">
	            <span>{{distance}}mi</span>
	         </div>
		     
		     <a class="view-profile-div" href="{{profile_url}}">
		         <span>View</span>
		         <span>Profile</span>
		     </a>
		      
		  {{else}}
		      
	      {{/if}}
      {{else}}
      		<div class="distance-div">
	            <span>{{distance}}mi</span>
	         </div>
	         
		     <a class="view-profile-div" href="{{profile_url}}">
		         <span>View</span>
		         <span>Profile</span>
		     </a>
		     
      {{/if}}
    </div>
</div>